<!DOCTYPE html>
<html lang="en">

<head>
    <title>Driver Dashboard</title>

    <link href="/css/mainstyle.css" rel="stylesheet" type="text/css">
</head>

<body>

    <div id="imagesection">
        <img src="https://img.freepik.com/premium-vector/hand-drawn-delivery-man-scooter_23-2147678392.jpg?w=740"
            alt="">
        <h2> Enjoy The Fast Delivary </h2>
        
    <form action="/">
        <button>Logout</button>
    </form>
    </div>

    <div id="main">


        <% let temp=0 %>


            <% for (order of orders){ %>
                <% if(order.orderStatus==="READY FOR DELIVERY" ) { temp +=1%>
                    <h2>New Order Available</h2>
                    <form action="/driver/pickup/<%=order._id %>/<%=drivers._id %>" method="post" id="formorder">
                        <div id="displayOrder" class="myOrders">

                            <p>Customer Name : <%=order.customerName %>
                            </p>
                            <p>Customer Address : <%=order.customerAddress %>
                            </p>
                            <p>Price : $ <%=order.orderPrice%>
                            </p>
                            <button id="btn"> Accept The Order </button>
                        </div>
                    </form>
                    <% } } if(!temp){%>
                        <h2> Sorry! Orders Are Not Currently Available.</h2>

                        <%} else{ %>
                            <% } %>


                                <div class="brd"> </div>

                                <h2>Order Completed</h2>

                                <% for (order of orders){ if(order.driverId===drivers._id.toString()){
                                    if(order.orderStatus==="DELIVERED" ) { %>
                                    <div class="myOrders">

                                        <p>Customer Name : <%=order.customerName %>
                                        </p>
                                        <p>Price : $<%=order.orderPrice%>
                                        </p>
                                        <img src="data:image/<%=order.completeImage.contentType%>;base64,
                                <%=order.completeImage.data.toString('base64')%>" />

                                    </div>
                                    <%}}}%>
                                        <div class="brd"> </div>

    </div>
</body>

</html>