<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body class="mn">
    <nav class="nv">
        <a href="/">Home</a>
        <a href="#">Contact Us</a>
        <a href="/search">Search Order</a>
    </nav>
    <div class="row">

        <div class="col">
            <h1>Orders</h1>
            <% let flag = false; %>
            <% for (let order of orders) { if (order.orderStatus==="RECEIVED" ) { flag = true; %>
                <div class="order-info">
                    <form method="POST" action="/update/<%= order._id %>">
                        <p><b>Customer Name:</b>
                            <%= order.customerName %>
                        </p>
                        <p><b>Customer Number:</b>
                            <%= order.customerNumber %>
                        </p>
                        <p><b>Customer Address:</b>
                            <%= order.customerAddress %>
                        </p>
                        <p><b>Items Ordered</b>
                            <%= order.orderedItem %>
                        </p>
                        <p><b>Date Of Order:</b>
                            <%= order.orderDate %>
                        </p>
                        <p><b>Total Price:</b>
                            <%= order.orderPrice %>
                        </p>
                        <p><b>Order Status:</b>
                            <%= order.orderStatus %>
                        </p>
                        <button class="btn">Ready For Delivery</button>
                    </form>
                </div>
                <% } else if(order.orderStatus==="READY FOR DELIVERY"|| order.orderStatus==="IN TRANSIT" ){ flag=true; %>
                    <div class="order-info">
                        <form method="POST" action="/update/<%= order._id %>">
                            <p><b>Customer Name:</b>
                                <%= order.customerName %>
                            </p>
                            <p><b>Customer Number:</b>
                                <%= order.customerNumber %>
                            </p>
                            <p><b>Customer Address:</b>
                                <%= order.customerAddress %>
                            </p>
                            <p><b>Items Ordered</b>
                                <%= order.orderedItem %>
                            </p>
                            <p><b>Date Of Order:</b>
                                <%= order.orderDate %>
                            </p>
                            <p><b>Total Price:</b>
                                <%= order.orderPrice %>
                            </p>
                            <p><b>Order Status:</b>
                                <%= order.orderStatus %>
                            </p>
                        </form>
                    </div>
                    <% } } if( !flag ) { %>
                       <p> There are no pending orders</p> 
                    <%  }  %>
        </div>
        <div class="col">
            <h1>Orders Completed</h1>
            <div class="myOrders">
                <% for (order of orders){ for(driver of drivers){ if(order.orderStatus==="DELIVERED" ) {
                    if(order.driverId===driver._id.toString()){ %>
                    <p><b>Customer Name:</b>
                        <%= order.customerName %>
                    </p>
                    <p><b>Customer Number:</b>
                        <%= order.customerNumber %>
                    </p>
                    <p><b>Customer Address:</b>
                        <%= order.customerAddress %>
                    </p>
                    <p><b>Items Ordered</b>
                        <%= order.orderedItem %>
                    </p>
                    <p><b>Date Of Order:</b>
                        <%= order.orderDate %>
                    </p>
                    <p><b>Total Price:</b>
                        <%= order.orderPrice %>
                    </p>
                    <p><b>Order Status:</b>
                        <%= order.orderStatus %>
                    </p>
                    <p><b>Driver Name :</b>
                        <%=driver.firstName%>
                            <%=driver.lastName%>
                    </p>
                    <p><b>License Number : </b>
                        <%= driver.vehicleLicense %>
                    </p>
                    <img src="data:image/<%=order.completeImage.contentType%>;base64,
                                        <%=order.completeImage.data.toString('base64')%>" class="ord" />
                    <div id="bb"> </div>

                    <%}}}}%>
            </div>
        </div>
    </div>
</body>

</html>